<!DOCTYPE html>
<html lang="en"> 

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/home.css"> 
</head>

<body>
    <h1>Home Page</h1>
    <p>Testing CSS import.</p>
</body>
</html>