<!DOCTYPE html>
<html lang="en"> 

<head>
    <meta charset="UTF-8">
    <title>People's Page</title>
</head>

<body>
    <h1>People's Page</h1>
    <form action="http://localhost:8080/people" method="post">
        <label for="first_name">First name:</label>
        <input type="text" name="first_name"><br>
        <label for="last_name">Last name:</label>
        <input type="text" name="last_name"><br>
        <label for="email">e-mail:</label>
        <input type="email" name="email"><br>
        <label for="gender">Gender:</label>
        <input type="text" name="gender"><br>
        <label for="date_of_birth">Date of Birth:</label>
        <input type="date" name="date_of_birth"><br>
        <label for="country_of_birth">Country of Birth:</label>
        <input type="text" name="country_of_birth"><br>
        <input type="submit" value="Submit">
    </form>
    <h2>Here's a list of all the people</h2>
    <ul>
        <% for (let person of rows) { %>
        <li>ID <%= person.id %> - <%= person.first_name %> <%= person.last_name %> from <%= person.country_of_birth %> </li>
        <% } %>
    </ul>
</body>
</html>
